*{
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
html, body{
  background-color: #DDD;
  /* height: 100%;
  text-align: center;
  margin: 0; */
}
h1{
  margin: 1rem 0;
}
form{
  display: flex;
  flex-direction: column;
  /* position: relative; */
}
input, textarea{
  padding: 1rem;
}
